faiss-cpu==1.9.0.post1
langchain==0.3.4
langchain-community==0.3.3
langchain-core==0.3.12
langchain-ollama==0.2.0
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
numpy==1.26.4
requests==2.31.0
sentence-transformers==3.3.1
typing-inspect==0.9.0
typing_extensions==4.11.0
transformers==4.46.3
tqdm==4.66.2